@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using projectPRN.Models;
@{
    List<Grade> pe = new List<Grade>();
    List<Grade> pt = new List<Grade>();
    List<Grade> ass = new List<Grade>();
    List<Grade> pr = new List<Grade>();
    List<Grade> fe = new List<Grade>();
    List<Grade> ex = new List<Grade>();
    List<Grade> ws = new List<Grade>();
    int count = 1;
    decimal total = 0;
    decimal avg = 0;
    decimal totalWeight = 0;
    int gradeCount = 0;
    decimal finalGrade = 0;
    string url = ViewBag.currentURL;

    Object createTable(List<Grade> list)
    {
        @if (list.Count != 0)
        {
            gradeCount = list.Count + 1;
            @foreach (Grade grade in list)
            {
                total += grade.Value;
                <tr>
                    @if (count < 2)
                    {
                        <td rowspan="@gradeCount" style="vertical-align : middle;text-align:center;">@grade.GradeCategory</td>
                    }
                    @if (list.Count == 1)
                    {
                        <td>@grade.GradeType</td>
                    }
                    else
                    {
                        <td>@grade.GradeType @count</td>
                    }
                    <td>@grade.Percentage.ToString("G29")%</td>
                    <td>@grade.Value</td>
                    <td>@grade.Comment</td>
                </tr>
                count++;
                totalWeight += grade.Percentage;
            }
            avg = total / list.Count;
            <tr>
                <td>Total:</td>
                <td>@Math.Round(totalWeight)%</td>
                <td>@Math.Round(avg, 2)</td>
                <td></td>
            </tr>
            finalGrade += avg * totalWeight / 100;
            total = 0;
            count = 1;
            totalWeight = 0;
            avg = 0;
            gradeCount = 0;
        }
        return null;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Grade Report</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href='@Url.Action("IndexPage", "Home")'>
                <div class="sidebar-brand-text mx-3">FAP</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("IndexPage", "Home")'>
                    <i class="fas fa-fw fa-home"></i>
                    <span>Homepage</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("GradeReport", "Home")'>
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Grade Report</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href='@Url.Action("ExamSchedule", "Home")'>
                    <i class="fas fa-fw fa-table"></i>
                    <span>Exam Schedule</span>
                </a>
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.currentUsername</span>
                                <img class="img-profile rounded-circle"
                                     src="/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href='@Url.Action("Profile", "Home")'>
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="col-md-12">
                        @using (@Html.BeginForm("GradeReport", "Home", FormMethod.Post))
                        {
                            <table class="table" style="float: left;">
                                <thead>
                                    <tr>
                                        <th>Term</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (TermStudent termItem in ViewBag.terms)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/Home/GradeReport?termID=@termItem.TermId">@termItem.Term.TermName</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @if (ViewBag.courses != null)
                            {
                                <table class="table" style="float: right;">
                                    <tr>
                                        <th>Subject</th>
                                    </tr>
                                    <tbody>
                                        @foreach (Course course in ViewBag.courses)
                                        {
                                            <tr>
                                                <td>
                                                    <a href="/Home/GradeReport?termID=@ViewBag.tempTermID&courseID=@course.CourseId">@course.Subject.SubjectName</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                if (ViewBag.grade != null)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Grade Category</th>
                                                <th>Grade Type</th>
                                                <th>Percentage</th>
                                                <th>Value</th>
                                                <th>Comment</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (Grade grade in ViewBag.grade)
                                            {
                                                if (grade.GradeType.Trim().Equals("PE"))
                                                {
                                                    pe.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("AS"))
                                                {
                                                    ass.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("PT"))
                                                {
                                                    pt.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("PR"))
                                                {
                                                    pr.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("FE"))
                                                {
                                                    fe.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("EX"))
                                                {
                                                    ex.Add(grade);
                                                }

                                                if (grade.GradeType.Trim().Equals("WS"))
                                                {
                                                    ws.Add(grade);
                                                }
                                            }
                                            @createTable(ass)
                                            @createTable(ex)
                                            @createTable(pt)
                                            @createTable(ws)
                                            @createTable(pr)
                                            @createTable(pe)
                                            @createTable(fe)
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td rowspan="2" style="vertical-align : middle;text-align:center;">COURSE TOTAL</td>
                                                <td>AVERAGE</td>
                                                <td colspan="3">@Math.Round(finalGrade, 1)</td>
                                            </tr>
                                            <tr>
                                                <td>STATUS</td>
                                                <td colspan="3">
                                                    @if (finalGrade < 5)
                                                    {
                                                        <b style="color:red;">NOT PASSED</b>
                                                    }
                                                    else
                                                    {
                                                        <b style="color:green">PASSED</b>
                                                    }
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                }
                                else
                                {
                                    if(ViewBag.GradeError == true)
                                    { <p style="color:red" class="text-center">Grade data unavailable.</p>}
                                }
                            }

                        }
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            Copyleft &copy; FPT University Academic Portal
                        </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href='@Url.Action("Logout", "Home")'>Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js"></script>

</body>

</html>