@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using projectPRN.Models;
@{
    List<Grade> pe = new List<Grade>();
    int count = 0;
    decimal total = 0;
    decimal avg = 0;
    int totalWeight = 0;
}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mainpage</title>

    <link rel="stylesheet" type="text/css" href="../Views/Login.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div>
            <a class="btn btn-primary" href='@Url.Action("IndexPage", "Home")'>
                Return
            </a>
        </div>
        <div class="col-md-12">
            @using (@Html.BeginForm("GradeReport", "Home", FormMethod.Post))
            {
                <table class="table table-striped" style="float: left;">
                    <thead>
                        <tr>
                            <th>Term</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (TermStudent termItem in ViewBag.terms)
                        {
                            <tr>
                                <td>
                                    <a href="/Home/GradeReport?termID=@termItem.TermId">@termItem.Term.TermName</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (ViewBag.courses != null)
                {
                    <table class="table table-striped" style="float: right;">
                        <tr>
                            <th>Subject</th>
                        </tr>
                        <tbody>
                            @foreach (Course course in ViewBag.courses)
                            {
                                <tr>
                                    <td>
                                        <a href="/Home/GradeReport?termID=@ViewBag.tempTermID&courseID=@course.CourseId">@course.Subject.SubjectName</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    if (ViewBag.grade != null)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Grade Category</th>
                                    <th>Grade Type</th>
                                    <th>Percentage</th>
                                    <th>Value</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (Grade grade in ViewBag.grade)
                                {
                                    if (grade.GradeType.Trim().Equals("PE"))
                                    {
                                        pe.Add(grade);
                                    }
                                }

                                @if (pe.Count != 0)
                                {
                                    @foreach (Grade grade1 in pe)
                                    {
                                        total += grade1.Value;
                                        <tr>
                                            @if (count < 1)
                                            {
                                                <td rowspan="3">@grade1.GradeCategory</td>
                                            }
                                            <td>@grade1.GradeType</td>
                                            <td>@grade1.Percentage%</td>
                                            <td>@grade1.Value</td>
                                            <td>@grade1.Comment</td>
                                        </tr>
                                        count++;
                                    }
                                    avg = total / count;
                                    <tr>
                                        <td>Total:</td>
                                        <td>25%</td>
                                        <td>@avg</td>
                                        <td></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                }

            }
        </div>
    </div>
</body>