@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mainpage</title>

    <link rel="stylesheet" type="text/css" href="../Views/Login.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
            .btn span {
                padding: 10px 15px 10px;
            }
    </style>
</head>

<body>
    <h2 class="text-center" style="font-size: 40px;">
        FPT University Academic Portal
    </h2>
    @*<div>
        <label>
            Welcone @ViewBag.currentUsername
        </label>
        @Html.ActionLink("logout", "logout", "Home");
    </div>
    <div>
        <a class="btn btn-primary" href='@Url.Action("ExamSchedule", "Home")'>
            Exam Schedule
        </a>
        <a class="btn btn-primary" href='@Url.Action("GradeReport", "Home")'>
            Grade Report
        </a>
    </div>*@

    <div class="login-form">
        <form>
            <p>Welcone @ViewBag.currentUsername | @Html.ActionLink("Logout", "logout", "Home")</p>
            <div>
                <h1>Actions</h1>
                <a class="btn btn-primary" href='@Url.Action("ExamSchedule", "Home")'>
                    Exam Schedule
                </a><br />
                <a class="btn btn-primary" href='@Url.Action("GradeReport", "Home")'>
                    Grade Report
                </a>
            </div>
        </form>
    </div>
</body>